# Arquivos de configuração do Qt Creator (preferível ignorar)
*.pro.user
*.pro.user.*

# Diretórios de build gerados pelo Qt Creator
build-*/

# Arquivos de cache e temporários do CMake (caso esteja usando CMake)
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
cmake-build-*/

# Arquivos do Ninja (caso esteja usando Ninja como gerenciador de build)
.ninja_log
.ninja_deps
build.ninja
rules.ninja

# Diretórios de compilação comuns
Makefile
*.o
*.obj
*.so
*.dll
*.exe
*.a
*.lib
*.pch
*.pdb
*.mod
*.slo
*.lo
*.la
*.lai

# Arquivos de meta-objeto do Qt (gerados automaticamente)
moc_*.cpp
moc_*.h
ui_*.h
qrc_*.cpp

# Arquivos de depuração
*.d
*.dsym
*.gcno
*.gcda

# Logs e backups
*.log
*.bak
*.swp
*.swo

# Configurações do editor de código
.vscode/
.idea/
